body {
	font-family: Helvetica Neue, Arial;
	font-size: 14px;
}

#dest, #open{
width: 160px;
height: 30px;
z-index: 2;
opacity: 0;
position: relative;
cursor: pointer;
margin-bottom: 10px;
}

#dOpen.normal, #dDestination.normal{
position: absolute;
top: 0px;
left: 0px;
z-index: 1;
width: 150px;
height: 25px;
border: outset silver 5px;
border-radius: 25px;
text-align: center;
line-height: 25px;
cursor: pointer;
margin-bottom: 5px;
}

#btnProcess{
z-index: 1;
width: 150px;
height: 35px;
border: outset silver 5px;
border-radius: 25px;
text-align: center;
line-height: 20px;
cursor: pointer;
background-color: white;
font-size: 1em;
}

#txtDestination{
width: 100%;
}

#supportPartnersBanner{
	width: 100%;
	height: 70px;
}

#supportPartnersBanner img{
	float: right;
}

#appMessages {
font-size: 1.5em;
font-weight:bold;
}
